@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: #e4e4e4;
}

.pokemon-generate {
  border: none;
  border-radius: 10px;
  padding: 15px 15px;
  background: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 50px;
  margin: 50px;
}

img {
  width: 200px;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.pokemon-type {
  font-size: 1rem;
}

.loading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #ff0000;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
